.space-wrapper {
  display: flex;
  position: relative;
}

.space {
  height: 20px;
  background-color: transparent;
  z-index: 2;
  box-sizing: border-box;
  position: relative;
  flex: 1;
}
.space:hover {
  cursor: pointer;
  background-color: rgba(80, 254, 80, 0.59);
}

.ledger-space {
  height: 20px;
  background-color: transparent;
  z-index: 2;
  box-sizing: border-box;
  border-right: none;
  position: relative;
  flex: 1;
}
.ledger-space:hover {
  cursor: pointer;
  background-color: rgba(80, 254, 80, 0.59);
}

.ledger-space-with-note {
  height: 20px;
  background-color: transparent;
  z-index: 2;
  box-sizing: border-box;
  position: relative;
  flex: 1;
}
.ledger-space-with-note:hover {
  cursor: pointer;
  background-color: rgba(80, 254, 80, 0.59);
}

.quarter-note {
  position: relative;
  bottom: 54px;
  left: 100%;
  transform: translateX(-100%);
  height: 82px;
}

.half-note {
  position: relative;
  bottom: 51px;
  left: 45%;
  transform: translateX(-50%);
  height: 73px;
}
