@import '../../../styles.scss';

.line-wrapper {
  display: flex;
}

.line {
  position: relative;
  flex: 1;
  height: 2px;
  background-color: black;
}
.line:hover {
  cursor: pointer;
  background-color: rgba(80, 254, 80, 0.59);
}

.ledger-line {
  position: relative;
  flex: 1;
  height: 2px;
  background-color: transparent;
}
.ledger-line:hover {
  cursor: pointer;
  background-color: rgba(80, 254, 80, 0.59);
}

.ledger-line-with-note {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  height: 2px;
  background-color: black;
  margin-right: 20px;
  margin-left: -5px;
}
.ledger-line-with-note:hover {
  cursor: pointer;
  background-color: rgba(80, 254, 80, 0.59);
}

.quarter-note {
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  height: 82px;
}
