<div [ngClass]="measureData.measureNumber === 1 ? 'first-measure-wrapper' : 'measure-wrapper'">
  <app-line [lineData]="{ id: measureData.trebleClef ? 'F5' : 'A3', timeSignature: measureData.timeSignature, contents: noteData[measureData.trebleClef ? 'F5' : 'A3'] || null }"></app-line>
  <app-space [spaceData]="{ id: measureData.trebleClef ? 'E5' : 'G3', timeSignature: measureData.timeSignature, contents: noteData[measureData.trebleClef ? 'E5' : 'G3']  || null}"></app-space>
  <app-line [lineData]="{ id: measureData.trebleClef ? 'D5' : 'F3', timeSignature: measureData.timeSignature, contents: noteData[measureData.trebleClef ? 'D5' : 'F3'] || null }"></app-line>
  <app-space [spaceData]="{ id: measureData.trebleClef ? 'C5' : 'E3', timeSignature: measureData.timeSignature, contents: noteData[measureData.trebleClef ? 'C5' : 'E3']  || null}"></app-space>
  <app-line [lineData]="{ id: measureData.trebleClef ? 'B4' : 'D3', timeSignature: measureData.timeSignature, contents: noteData[measureData.trebleClef ? 'B4' : 'D3'] || null }"></app-line>
  <app-space [spaceData]="{ id: measureData.trebleClef ? 'A4' : 'C3', timeSignature: measureData.timeSignature, contents: noteData[measureData.trebleClef ? 'A4' : 'C3']  || null}"></app-space>
  <app-line [lineData]="{ id: measureData.trebleClef ? 'G4' : 'B2', timeSignature: measureData.timeSignature, contents: noteData[measureData.trebleClef ? 'G4' : 'B2'] || null }"></app-line>
  <app-space [spaceData]="{ id: measureData.trebleClef ? 'F4' : 'A2', timeSignature: measureData.timeSignature, contents: noteData[measureData.trebleClef ? 'F4' : 'A2']  || null}"></app-space>
  <app-line [lineData]="{ id: measureData.trebleClef ? 'E4' : 'G2', timeSignature: measureData.timeSignature, contents: noteData[measureData.trebleClef ? 'E4' : 'G2'] || null }"></app-line>
</div>
