.first-measure-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-left: none;
  border-right: 2px solid black;
  margin-right: -2px;
  position: relative;
}

.measure-wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  height: fit-content;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-right: -2px;
  position: relative;
}

.note-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.quarter-note {
  position: relative;
  width: auto;
  height: 82px;
}

.quarter-rest {
  width: auto;
  height: 63px;
  position: absolute;
  bottom: 15px;
}

.half-rest, .whole-rest {
  width: 28px;
  height: 9px;
  position: absolute;
}

.half-rest {
  bottom: 46px;
  padding-left: 20%;
}

.whole-rest {
  bottom: 57px;
  padding-left: 40%;
}

.grand-staff-wrapper {
  width: 100px;
}
